@font-face {
  font-family: Roboto;
  src: url("assets\fonts\Roboto-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("assets\fonts\Lato-Regular.ttf");
  
}
* {
  box-sizing: border-box;
}
body {
    border: 1px solid rgb(0, 102, 255);
    min-height: 100vh;
    margin: 0; padding: 0;
     display: flex;
  flex-direction: column;
  justify-content: space-between; 
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
.container {
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: center;
   list-style: none;
}
.nav-item {
  margin-right: 100px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
  
}
html {
  scroll-behavior: smooth;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  color: #000000;
  text-decoration: none;
  size: 100px;
}
.nav-link:hover {
  color: #ffffff;
  background-color: #000000;
}
.section-item {
  margin-bottom: 20px;

}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 2000px) {
  .section {
    width: 100%;
  }
}
.section-title {
font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #2e07db;
}
.link {
  text-decoration: none;
  color: #06b3d1;
  transition: color 0.5s;
}

.link:hover {
  color: #230de9;
}
.main_section {
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #4d2323;
    letter-spacing: 10px;
    text-align: center;
}
.avatar {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #829985;
  border-radius: 50%;
}
pre, code {
  background-color: #10fcb5;
  color: #160707;
  padding: 12px;
  border-radius: 8px;
  display: block;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.code-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #10fcb5;
  color: #160707;
  padding: 12px 20px;
  border-radius: 8px;
  max-width: 400px;    
  text-align: left;      
  font-size: 16px;
  overflow-x: auto;
}
.header {
  height: 80px;
  background-color: #6cf1af;
}
footer {
  background-color: rgb(243, 243, 243);
  min-height: 100px;
  color: #000000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.footer-logo-rsschool {
  width: 150px;
  height: 150px;
}
.footer-logo-github {
  width: 150px;
  height: 100px;
}
